<h2>Sign in</h2>

<%= form_with(model: resource, url: session_path(resource_name)) do |f| %>
  <%= field_set_tag nil, class: "form-group" do %>
    <%= f.email_field :email,
      class: "form-control form-control-lg",
      "data-testid": "email",
      placeholder: "Email"
    %>
  <% end %>

  <%= field_set_tag nil, class: "form-group" do %>
    <%= f.password_field :password,
      class: "form-control form-control-lg",
      "data-testid": "password",
      placeholder: "Password"
    %>
  <% end %>

  <%= f.submit "Sign in", class: "btn btn-lg btn-primary", "data-testid": "submit" %>
<% end %>

<%= render "users/shared/links" %>
